<header class="header-block">
  <button
    type="button"
    class="btn"
    [ngClass]="isFormSubmitted() ? 'btn-danger' : 'btn-primary'"
    [disabled]="emptyForm() || !savedForm && !isFormValid() && amountInvalidCards() > 0"
    (click)="!isFormSubmitted() ? onClick(BtnAction.Submit) : onClick(BtnAction.Cancel)"
  >
    {{ isFormSubmitted() ? 'Cancel' : 'Submit all forms' }}
  </button>

  @if (isFormSubmitted()) {
    {{ msLeftBeforeRequest() | date : 'm:ss' }}
  }

  @if (!savedForm && !isFormSubmitted() && !isFormValid() && amountInvalidCards() > 0) {
    <span class="text-danger invalid-forms-counter">Invalid forms: {{ amountInvalidCards() }}</span>
  }
</header>
