<div class="container">
  <header class="header-block">
    <button
      type="button"
      class="btn"
      [ngClass]="isFormSubmitted() ? 'btn-danger' : 'btn-primary'"
      [disabled]="!isFormValid()"
      (click)="submit()"
    >
      {{ isFormSubmitted() ? 'Cancel' : 'Submit all forms' }}
    </button>

    @if (isFormSubmitted()) {
      {{ secondsLeftBeforeRequest() | date : 'm:ss' }}
    } @else if (!isFormValid()) {
      <span class="text-danger invalid-forms-counter">Invalid forms: {{ amountInvalidCards }}</span>
    }
  </header>
  <form [formGroup]="cardsForm">
    <div class="card-holder" formArrayName="cards">
      @for (card of cards.controls; track card; let i = $index) {
        <app-card
          [formGroup]="card"
          [idx]="i"
          (remove)="removeCard(i)"
        >
        </app-card>
      }

      <button type="button" class="add-form-card-btn" (click)="addCard()">
        <i class="bi bi-plus-circle-dotted"></i>
      </button>
    </div>
  </form>
</div>

