:host {
  .header-block {
    margin-bottom: 20px;

    .invalid-forms-counter {
      margin-left: 16px;
    }
  }

  .card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .add-form-card-btn {
    width: 237px;
    height: 292px;
    background: rgb(221,221,221);
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%);
    border: 1px dashed;
    border-radius: 4px;

    & > .bi-plus-circle-dotted {
      font-size: 50px;
      color: blue;
    }
  }
}
