<div class="container">
  <app-header
    [amountInvalidCards]="amountInvalidCards"
    [msLeftBeforeRequest]="msLeftBeforeRequest"
    [isFormValid]="isFormValid"
    [isFormSubmitted]="isFormSubmitted"
    [emptyForm]="emptyForm"
    (onSubmit)="headerClickHandler($event)"
  >
  </app-header>
  <form [formGroup]="cardsForm">
    <div class="card-holder" formArrayName="cards">
      @for (card of cards.controls; track card; let i = $index) {
        <app-card
          [formGroup]="card"
          [idx]="i"
          (remove)="removeCard(i)"
        >
        </app-card>
      }

      <button type="button" class="add-form-card-btn" [disabled]="isFormSubmitted()" (click)="addCard()">
        <i class="bi bi-plus-circle-dotted"></i>
      </button>
    </div>
  </form>
</div>

